<div class="dots">

</div>
<div class="reveal">
  <div class="slides">
    <section class="slide-1" data-background-color="#fff">
      <h1>DEMO <a href="#"><%= @demo_link %></a>  </h1>
    </section>
    <section></section>
  </div>
</div>
