<div class="dot">
  <span href="<%=  @ngrok %>" id="circle-viewer" data-id="<%= assigns[:user_token] %>" class="circle-control"></span>
  <%= render NearsoftconWeb.PartialView, "battery.html", assigns %>
  <%= render NearsoftconWeb.PartialView, "orientation.html", assigns %>
</div>
<div class="error-report">
  <a href="#">X</a>
  <div class="inner-report">

  </div>
</div>
