/* This file is for your main application css. */
@import "./reset.css";
@import "./reveal.css";

.st0{
  fill: #00A651;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* COMMON */
.subtitle {
  font-size: 50px;
  line-height: 70px;
  color: #1f1f1f;
}

.subtitle b {
  color: #efefef;
}

/* SLIDE 1 */

.slide-1 {
  text-align: left;
  display: none;
}

.slide-1 h1 {
  font-size: 200px;
  text-align: left;
  display: inline-block;
  color: #1f1f1f;
}

.slide-1 a {
  font-size: 50px;
  display: block;
  text-align: left;
}

/* SLIDE 1 */

.slide-2 .images-slide {
  margin-top: 30px;
}

.slide-2 .images-slide .img-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.elixir-logo {
  margin-left: 50px;
}

.slide-2 .images-slide .img-txt span {
  color: #00acee;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.slide-2 .images-slide {
  text-align: left;
  display: flex;
}

.slide-2 img {
  height: 80px;
}

.slide-2 h1 {
  font-size: 150px;
  text-align: left;
  text-shadow: 1px 1px 5px rgba(0,0,0, 0.2)
}

/* SLIDE 3 */

.slide-3 h1 {
  font-weight: bold;
}

.slide-3 h2 {
  position: relative;
  z-index: 2;
  color: #1f1f1f;
}

.slide-3 h2 span:nth-child(2) {
  color: #5820C0;
}

.slide-3 h2 {
  font-size: 80px;
  width: 120px;
  height: 120px;
  border: 3px solid #ff52524d;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* SLIDE 5 */
/* SLIDE 6 */
.slide-6 img {
  max-width: 100%;
  width: 400px;
}

/*  SLIDE 7 */
.slide-7 li {
  font-size: 30px;
  margin: 40px 0;
  display: block;
}

/* SLIDE 10 */
.slide-10 {
  text-align: left;
}

.slide-10 h1{
    font-size: 50px;
}

.slide-10 .hljs {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 30px;
}

/* SLIDE 11 */
.slide-11 {
  text-align: left;
}

.slide-11 h1{
    font-size: 50px;
}

.slide-11 .hljs {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 30px;
}

/* SLIDE 12 */
.slide-12 {
  text-align: left;
}

.slide-12 h1{
    font-size: 50px;
}

.slide-12 .hljs {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 30px;
}

.huge-title {
  font-size: 300px;
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-control {
  width: 100%;
  height: 100%;
  background-color: #00FFC5;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-control.gray {
  background-color: gray;
}

.circle-control.slide-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.location-info {
  background: #f9f9f9;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.location-info li {
  margin: 10px 0;
}
