/* This file is for your main application css. */
@import "./reset.css";
@import "./reveal.css";

#demo-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  z-index: 100;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.big-image {
  height: 100%;
}

#nokia-slide h1 {
  font-size: 50px;
}

#roberto-face {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
 }

.google-message {
  width: 100%;
}

.nice-list .image-list {
  width: 300px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.nice-list li {
  font-size: 50px;
  margin: 40px 0px;
  text-align: left;
}

.nice-list.nice-list-small .image-list {
  width: auto;
}

.nice-location-list.nice-list.nice-list-small li {
  padding: 10px;
}

.nice-location-list.nice-list.nice-list-small .icon-list {
  height: 100px;
}

.nice-list.nice-list-small li {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 40px;
}

.nice-list .icon-list {
  height: 150px;
  display: inline-block;
  margin-right: 20px;
}

.lock-iphone {
  height: 100%;
  max-height: 600px;
}

.iot-slide h1 {
  font-size: 120px;
}

.st0{
  fill: #00A651;
}

.example {
  height: 300px;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* COMMON */
.subtitle {
  font-size: 50px;
  line-height: 70px;
  color: #1f1f1f;
}

.subtitle b {
  color: #efefef;
}

/* SLIDE 1 */

.slide-1 img {
  display: inline-block;
  vertical-align: middle;
}

.slide-1 {
  text-align: left;
}

.slide-1 h1 {
  font-size: 200px;
  text-align: center;
  display: inline-block;
  color: #1f1f1f;
  vertical-align: middle;
  margin-right: 20px;
}

.slide-1 a {
  font-size: 50px;
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

.slide-1 #Page-1 circle {
  fill: 'red';
}

/* SLIDE 1 */

.slide-2 .images-slide {
  margin-top: 30px;
}

.slide-2 .images-slide .img-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.steave-thoughts {
  width: 100%;
}

.elixir-logo {
  margin-left: 50px;
}

.slide-2 .images-slide .img-txt span {
  color: #00acee;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.slide-2 .images-slide {
  text-align: left;
  display: flex;
}

.slide-2 img {
  height: 80px;
}

.slide-2 h1 {
  font-size: 150px;
  text-align: left;
  text-shadow: 1px 1px 5px rgba(0,0,0, 0.2)
}

/* SLIDE 3 */

.slide-3 h1 {
  font-weight: bold;
}

.slide-3 h2 {
  position: relative;
  z-index: 2;
  color: #1f1f1f;
}

.slide-3 h2 span:nth-child(2) {
  color: #5820C0;
}

.slide-3 h2 {
  font-size: 80px;
  width: 120px;
  height: 120px;
  border: 3px solid #ff52524d;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* SLIDE 5 */
/* SLIDE 6 */
.slide-6 img {
  max-width: 100%;
  width: 400px;
}

/*  SLIDE 7 */
.slide-7 li {
  font-size: 30px;
  margin: 40px 0;
  display: block;
}


/* SLIDE 14 */
.slide-14.slide-example .hljs {
  font-size: 20px;
}

.slide-example {
  text-align: left;
}

.slide-example h1{
    font-size: 50px;
}

.slide-example .hljs {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 30px;
}

.slide-example.slide-example-small .hljs {
  font-size: 20px;
}

.huge-title {
  font-size: 300px;
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-control {
  width: 300px;
  height: 300px;
  background-color: #00FFC5;
  border: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
}

#circle-viewer.circle-green {
  background-color: #2BFEC6;
}

#circle-viewer.circle-blue {
  background-color: #83CBFF;
}

#circle-viewer.circle-purple {
  background-color: #BC9CFF;
}

#circle-viewer.circle-yellow {
  background-color: #FFEF9C;
}

#circle-viewer.circle-red {
  background-color: #F48383;
}

.circle-control:hover {
  background-color: #3fffd3;
  cursor: pointer;
  transform: scale(1.1);
}

.circle-control.gray {
  background-color: gray;
}

.circle-control.slide-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.location-info {
  background: #f9f9f9;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.location-info li {
  margin: 10px 0;
}

.battery-status {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.battery-status .battery {
  width: 50px;
  height: 30px;
  font-size: 0;

}

.wrapp-battery {
  position: relative;
  text-align: center;
  border: 1px solid rgb(102, 172, 175);
  display: inline-block;
}

#battery-wrapper.not-supported .wrapp-battery {
  border-color: gray;
}

#battery-wrapper.not-supported .battery .battery-slot.full {
  background-color: gray;
}

.bolt {
  position: absolute;
  top: 0;
  width: 100%;
}

.bolt img {
  height: 30px;
}

.dark-theme {
  background-color: black;
}

.dark-theme .battery-info {
  color: white;
}

.battery-status .battery .battery-slot {
  background: gray;
  display: inline-block;
  height: 30px;
  width: 10%;
  position: absolute;
  left: 0;
}

.battery-info {
  display: inline-block;
}

.battery-status .battery .battery-slot.full {
  background: rgb(102, 172, 175);
}

.error-report {
  display: none;
  position: absolute;
  overflow-y: scroll;
  height: 200px;
  background: #FF6161;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: white;
  word-wrap: break-word;
}

.error-report.dev {
  display: block;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}


@media only screen and (min-width: 1000px) {
  .error-report {
    display: none
  }
}
